.dashboard-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-dashboard{
    width: 80%;
    height: 10%;
    display: flex;
    max-width: 1300px;
    align-items: center;
}


.welcome{

    width: 50%;
    height: 100%;
    max-width: 1000px;
    gap: 0.2vmin;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}
.welcome h1{
    --tw-text-opacity: 1;
    font-size: max(calc(20 * var(--res)), 22px);
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.welcome p{
    --tw-text-opacity: 1;
    color: rgb(164 160 153/var(--tw-text-opacity));
}


.rebase{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2vmin;
    align-items: end;
    justify-content: center;

}
.rebase h1{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: max(calc(20 * var(--res)), 22px);
}

.rebase p{
    --tw-text-opacity: 1;
    color: rgb(164 160 153/var(--tw-text-opacity));
}

.card-dashboard{
    width: 80%;
    height: 30%;
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vmin;
}

.card{
    background: linear-gradient(104.76deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    border-radius: 16px;
    width: 33%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-card{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
}

.top-card img{
    width: max(calc(30 * var(--res)), 35px);
}

.bottom-card{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vmin;
    justify-content: center;
}

.bottom-card h2{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: max(calc(20 * var(--res)), 22px);
}

.bottom-card p{
    --tw-text-opacity: 1;
    color: rgb(164 160 153/var(--tw-text-opacity));
}

.wallet-info{
    max-width: 1300px;
    background: linear-gradient(104.76deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    border-radius: 16px;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top-wallet{
    display: flex;
    width: 90%;
    height: 25%;
    align-items: center;
}

.wallet{
    width: 90%;
    justify-content: center;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.wallet .row{
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
}

.row p{
    --tw-text-opacity: 1;
    color: rgb(164 160 153/var(--tw-text-opacity));
}

.message{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 2em;
    gap: 1vmin;
    --tw-bg-opacity: 1;
    background-color: #232221;
    border-radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.message p{
    font-weight: 200;
    font-size: max(calc(12 * var(--res)), 7px);
}


@media screen and (max-width:620px) {

    .top-dashboard{
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: column;
        max-width: 1300px;
        align-items: center;
        justify-content: start;
    }
    .welcome{

        width: 100%;
        height: 50%;
        max-width: 1000px;
        gap: 0.2vmin;
    
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    
    }

    .rebase{

        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.2vmin;
        align-items: start;
        justify-content: center;
    
    }

    body {
        height: 125vh;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        overflow: scroll;
        justify-content: center;
        --tw-bg-opacity: 1;
        background-color: rgb(21 20 19 / var(--tw-bg-opacity));
        position: relative;
      }
      

    .card-dashboard{
        width: 80%;
        height: 50%;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1vmin;
    }

    .card{
        background: linear-gradient(104.76deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        border-radius: 16px;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wallet-info{
        margin-top: 50px;
        max-width: 1300px;
        background: linear-gradient(104.76deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
        border-radius: 16px;
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .wallet-info img{
        width: 30px;
    }

    .message img{
        width: 20px;
    }
    
}